
.campos{
    border: 3px solid;
    width: 20rem;
}
.typo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 200px;
    text-decoration: underline;
}
.formulario{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    border-color: gray;
    border-radius: 50px;
}
